:root {
  --green-dark: #063706;
  --green-medium-dark: #075807;
  --green-medium: #097609;
  --green-medium-light: #70af1a;
  --green-light: #e6f5e6;
  --blue: #004589;
  --typography-light: #fff;
  --typography-dark: #000;
  --box-shadow: 0 8px 16px 1px rgba(0, 0, 0, 0.25);
  --spacing-05: 4px;
  --spacing-1: 8px;
  --spacing-2: 16px;
  --spacing-3: 24px;
  --spacing-4: 32px;
  --spacing-5: 40px;
  --spacing-6: 48px;
  --spacing-7: 56px;
  --spacing-8: 64px;
  --border-radius: 3px;
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }

  10% {
    opacity: 0;
    transform: scale(0.6);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(8vh);
  }

  10% {
    opacity: 0;
    transform: translateY(8vh);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

html,
body {
  margin: 0;
  color: #000000;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

.heading-section {
  height: 60vh;
  min-height: 400px;
  border-radius: 0;
  background-image: url(../images/scene-background.svg);
  background-color: var(--green-light);
  background-repeat: no-repeat;
  background-position: center bottom;
  border: none;
  font-family: 'Staatliches', Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.heading-section .heading-container {
  display: flex;
  align-items: center;
  letter-spacing: 0.6px;
}

.heading-section .heading-sign {
  height: min(28vw, 175px);
  width: min(28vw, 175px);
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--border-radius);
  font-size: min(29vw, 180px);
  box-shadow: var(--box-shadow);
  color: var(--typography-light);
  margin: min(2vw, 14px) min(7vw, 40px) 0 0;
  font-weight: 600;
}

.heading-section .header {
  font-size: min(16.5vw, 100px);
  color: var(--green-dark);
  margin: 0 0 -10px;
  font-weight: 400;
}

.heading-section .subheader {
  font-size: min(6.27vw, 38px);
  color: var(--green-medium-dark);
  margin: 0;
  font-weight: 400;
}

.heading-section .name {
  font-size: min(7.6vw, 46px);
  color: var(--green-medium);
  margin: min(16px, 3vw) 0 100px;
  font-weight: 600;
  letter-spacing: 0.4px;
}

.heading-section .heading-container,
.heading-section .name {
  animation-duration: 2s;
  animation-name: reveal;
  animation-timing-function: ease;
}

.panel-container {
  display: flex;
  flex-direction: column-reverse;
}

.panel {
  width: calc(100% - var(--spacing-8));
  padding: calc(var(--spacing-4) + 24px) var(--spacing-4) var(--spacing-4);
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  margin-bottom: -24px;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: center;
}

.panel .panel-content {
  width: 100%;
  max-width: 1000px;
  margin: 4vw 0;
}

.panel h3 {
  font-family: 'Staatliches', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: min(8.5vw, 100px);
  letter-spacing: 0.4px;
  font-weight: 400;
  margin: 0;
}

.panel h4 {
  font-family: 'Staatliches', 'Roboto', Arial, Helvetica, sans-serif;
  font-size: min(6.5vw, 60px);
  letter-spacing: 0.2px;
  font-weight: 400;
  margin: 0;
}

.panel p {
  line-height: 150%;
}

.panel-dark {
  min-height: min(
    calc(35vh - var(--spacing-8)),
    calc(100vh - 400px - var(--spacing-8))
  );
  background-color: var(--green-dark);
  flex-direction: column;
  align-items: center;
  transform: translateZ(3px);
  z-index: 19;
  padding: var(--spacing-4);
  color: var(--typography-light);
}

.panel-dark a {
  text-decoration: none;
  font-family: 'Staatliches', Arial, Helvetica, sans-serif;
  font-size: min(6vw, 24px);
  letter-spacing: 0.6px;
  padding: var(--spacing-05) var(--spacing-2);
  color: inherit;
  animation-duration: 1.5s;
  animation-name: slide-up;
  animation-timing-function: ease;
  border-radius: var(--border-radius);
  transition: background-color 0.25s ease;
}

.panel-dark a:hover {
  background-color: var(--green-medium-dark);
}

.panel-dark a:active {
  background-color: var(--green-medium);
}

.panel-dark p {
  margin: 0;
}

.panel-medium-dark {
  background-color: var(--green-medium-dark);
  transform: translateZ(2px);
  z-index: 18;
  color: var(--typography-light);
}

.panel-medium-dark h4 {
  margin: 32px 0 16px;
}

.panel-medium {
  background-color: var(--green-medium);
  transform: translateZ(1px);
  z-index: 17;
  color: var(--typography-light);
}

.panel-medium .panel-content {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  grid-gap: 0 var(--spacing-2);
}

.panel-medium .about-heading {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.panel-medium .about-content {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.panel-medium .about-image {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: flex-end;
  width: 100%;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.panel-medium-light {
  background-color: var(--green-medium-light);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  margin-bottom: 0;
  color: var(--typography-dark);
}

.impressum-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.impressum-card {
  margin: var(--spacing-2) 0 0;
}

.impressum-address,
.impressum-contact {
  margin: 16px 0;
}

.impressum-address p,
.impressum-contact p {
  margin: 0;
}

@media only screen and (max-width: 699px) {
  .panel-medium .panel-content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
  }

  .impressum-content {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 619px) {
  .panel-medium .panel-content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    grid-gap: var(--spacing-2) 0;
  }

  .panel-medium .about-heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .panel-medium .about-content {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  .panel-medium .about-image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    width: 100%;
  }
}
